* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238) !important;
}


.disney {
  margin-top: 10px;
  font-family: 'WaltographRegular';
  font-weight: normal;
  font-style: normal;
  color: rgb(40,42,47);
}

.s {
  font-family: 'Roboto', sans-serif;
  color: rgb(51,105,232);

}
.e {
  font-family: 'Roboto', sans-serif;
  color: rgb(213,15,37);
}

.a {
  font-family: 'Roboto', sans-serif;
  color: rgb(238,178,17);
}

.r {
  font-family: 'Roboto', sans-serif;
  color: rgb(51,105,232);
}

.c {
  font-family: 'Roboto', sans-serif;
  color: rgb(0,153,57);
}

.h {
  font-family: 'Roboto', sans-serif;
  color: rgb(213,15,37);
}

p {
  font-family: 'Roboto', sans-serif;
  color: rgb(40,42,47);
  

}

h1 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

header {
  margin-bottom: 75px;
}

div {
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: space-evenly;
  align-items: center;
}

.divBotao{
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h5 {
  font-family: 'Roboto', sans-serif;
  color: rgb(40,42,47);
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}

section {
  margin-top: 10px;
  margin-bottom: 30px;
  height: 200px;

}


/*.personagensCard {
  display: flex;
  margin-top: 1px;
  margin: 10px;
  align-items: baseline;
  align-content: center;
  justify-content: space-between;
}*/

.personagensCard {
  display: flex;
  flex-direction: column;
  align-items: center
}

.botao:hover {
  transition: 300ms;
  background-color: rgb(103, 103, 105);
  padding: 10px;
}

.botao {
  background-color: rgb(182, 182, 182);
  padding: 10px;
}

.informacoes {
  margin-block-end: 10px;
  text-align: center;
}

.personagem {
  margin-block-end: 30px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.personagem-image {
  border-radius: 10px;
  box-shadow: 4px 2px 2px black;
  max-height:200px;
  max-width:200px;
  margin: 0 auto;
  
}
